<div class="col-md-6">
	<form name="commentForm" ng-controller="CommentController as commentCtrl" ng-submit="commentForm.$valid && commentCtrl.addComment(animal)" novalidate>
		<h4>Submit Your own Comment!</h4>
		<div class="row">
			<div class="col-md-6" style="text-align:right">
				<p>Your emotion: {{commentCtrl.comment.emotion}}</p>
				<p>Your text: {{commentCtrl.comment.text}}</p>
				<p>Your name: {{commentCtrl.comment.author}}</p>
			</div>
			<div class="col-md-6" style="text-align:left; padding-right: 15px;">
				<fieldset class="form-group">
					<select ng-model="commentCtrl.comment.emotion" class="form-control" ng-options="emotions for emotions in ['Super Happy','Happy','Sad','Super Sad']"  title="Emotion">
						<option value="">Pick Your Emotion</option>
					</select>
				</fieldset>
				<fieldset class="form-group">
					<textarea ng-model="commentCtrl.comment.text" class="form-control" placeholder="Write a short comment..." title="Comment"></textarea>
				</fieldset>
				<fieldset class="form-group">
					<input ng-model="commentCtrl.comment.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" />
				</fieldset>
				<fieldset class="form-group">
					<input type="submit" class="btn btn-primary pull-right" value="Submit Comment" />
				</fieldset>
			</form>
		</div>
	</div>
</div>